apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-backend
  template:
    metadata:
      labels:
        app: react-backend
    spec:
      containers:
        - name: backend
          image: rhishikeshc12/crud-mern-backend
          ports:
            - containerPort: 8000
          env:
            - name: PORT
              value: "8000"
            - name: MONGO_URL
              value: mongodb://mongodb-service:27017/mern
          resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  selector:
    app: react-backend
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30007
